Screen_Demo_Day_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_First_Name</name>
        <label>Set First Name</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varT_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CUD_FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Name_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_First_Name_Blank</name>
        <label>Is First Name Blank</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CUD_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CUD_Main_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Demo for day 2</description>
    <environments>Default</environments>
    <interviewLabel>Screen : Demo Day 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Demo Day 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Screen 2</description>
        <name>Copy_1_of_Screen_2</name>
        <label>Copy 1 of Screen 2</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_WelcomeMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;WELCOME TO FLOWS&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!varT_FirstName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!CUD_FirstName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CUD_Main_Screen</name>
        <label>Mani Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_First_Name</targetReference>
        </connector>
        <fields>
            <name>CUD_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Enter First Name</stringValue>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CUD_Main_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores First Name</description>
        <name>varT_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
