Screen_ATM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Setting_count</name>
        <label>Setting count</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varN_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PIN</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Deposit</name>
        <choiceText>Deposit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Show_Balance</name>
        <choiceText>Show Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Withdraw</name>
        <choiceText>Withdraw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Balance</name>
        <label>Check_Balance</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Insufficent_Fund_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varN_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Balance_Displae</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PIN</name>
        <label>Check PIN</label>
        <locationX>677</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen2_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_your_PIN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varT_PIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PIN_NO_Screen</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decession_Show_Balance</name>
        <label>Decession Show Balance</label>
        <locationX>1040</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Screen2_PIN_Correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Show_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Show_Balance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowBalance_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wish_To_Continue_Check_Box</name>
        <label>Wish To Continue Check Box</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Maximum_Attempts_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forN_Display_Attempts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sorry_Screen</targetReference>
            </connector>
            <label>Maximum Attempts Reached</label>
        </rules>
        <rules>
            <name>NO_Wish_TO_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wish_to_Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thankyou</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_CheckBalance</name>
        <dataType>Number</dataType>
        <expression>{!varN_Amount} - {!Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_Deposit</name>
        <dataType>Number</dataType>
        <expression>{!varN_Amount} + {!Deposit_Amount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Display_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!varN_Max_Attempt} - {!varN_Count}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Screen : ATM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : ATM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account_Balance_Displae</name>
        <label>Account_Balance</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account_Balance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account Balance  : {!forN_CheckBalance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Withdraw</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deposit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account Balance : {!forN_Deposit}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Deposit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_PIN_NO_Screen</name>
        <label>Check_PIN_NO_Screen_!</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wish_To_Continue_Check_Box</targetReference>
        </connector>
        <fields>
            <name>Invalid_PIN_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;INVALID PIN&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invalid_PIN</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 0, 0);&quot;&gt;You have {!forN_Display_Attempts} more Attempts left&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wish_to_Continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Wish to Continue?(Max 3 Attempts)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>forN_Display_Attempts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>forN_Display_Attempts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficent_Fund_Screen</name>
        <label>Insufficent_Fund_Screen</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen2_Demo</targetReference>
        </connector>
        <fields>
            <name>Insufficent_Fund</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Insufficent Fund&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Setting_count</targetReference>
        </connector>
        <fields>
            <name>Enter_your_PIN</name>
            <fieldText>Enter your PIN</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter only 4 digit&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Enter_your_PIN},&quot;[0-9]{4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_Demo</name>
        <label>Screen 2</label>
        <locationX>1040</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decession_Show_Balance</targetReference>
        </connector>
        <fields>
            <name>Choices</name>
            <choiceReferences>Choice_Withdraw</choiceReferences>
            <choiceReferences>Choice_Deposit</choiceReferences>
            <choiceReferences>Choice_Show_Balance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_PIN_Correct</name>
        <label>Screen2_PIN_Correct</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Balance</targetReference>
        </connector>
        <fields>
            <name>EnterTheAmountWithdraw</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter the Amount to Withdraw&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Withdraw</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Withdraw</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_The_Amount_to_Deposit</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter the Amount to Deposit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Deposit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deposit_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Deposit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Deposit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowBalance_Screen</name>
        <label>ShowBalance_Screen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Balance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account_Balance : {!varN_Amount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sorry_Screen</name>
        <label>Sorry_Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SorryTryAgain</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Sorry Try Again&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;ThankYou&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varN_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Max_Attempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_PIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1234</stringValue>
        </value>
    </variables>
</Flow>
