Screen_Tamil_Day_5_DIY_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>chcP_monthsToClose_1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_11</name>
        <choiceText>11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_12</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_13</name>
        <choiceText>13</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_14</name>
        <choiceText>14</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_15</name>
        <choiceText>15</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_16</name>
        <choiceText>16</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_17</name>
        <choiceText>17</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_18</name>
        <choiceText>18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_19</name>
        <choiceText>19</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_20</name>
        <choiceText>20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_21</name>
        <choiceText>21</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_22</name>
        <choiceText>22</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_23</name>
        <choiceText>23</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_24</name>
        <choiceText>24</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_7</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_8</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcP_monthsToClose_9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>varP_opportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forD_opportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY() , VALUE({!Months_To_Close}))</expression>
    </formulas>
    <interviewLabel>Screen : Tamil Day 5 DIY 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Tamil Day 5 DIY 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Opportunity</name>
        <label>Creating Opportunity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forD_opportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Oppoetunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Opportunity not created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalSCreen1</name>
            <fieldText>&lt;p&gt;Opportunity Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creating_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Oppoetunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Oppoetunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>varP_opportunityStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Months_To_Close</name>
            <choiceReferences>chcP_monthsToClose_1</choiceReferences>
            <choiceReferences>chcP_monthsToClose_2</choiceReferences>
            <choiceReferences>chcP_monthsToClose_3</choiceReferences>
            <choiceReferences>chcP_monthsToClose_4</choiceReferences>
            <choiceReferences>chcP_monthsToClose_5</choiceReferences>
            <choiceReferences>chcP_monthsToClose_6</choiceReferences>
            <choiceReferences>chcP_monthsToClose_7</choiceReferences>
            <choiceReferences>chcP_monthsToClose_8</choiceReferences>
            <choiceReferences>chcP_monthsToClose_9</choiceReferences>
            <choiceReferences>chcP_monthsToClose_10</choiceReferences>
            <choiceReferences>chcP_monthsToClose_11</choiceReferences>
            <choiceReferences>chcP_monthsToClose_12</choiceReferences>
            <choiceReferences>chcP_monthsToClose_13</choiceReferences>
            <choiceReferences>chcP_monthsToClose_14</choiceReferences>
            <choiceReferences>chcP_monthsToClose_15</choiceReferences>
            <choiceReferences>chcP_monthsToClose_16</choiceReferences>
            <choiceReferences>chcP_monthsToClose_17</choiceReferences>
            <choiceReferences>chcP_monthsToClose_18</choiceReferences>
            <choiceReferences>chcP_monthsToClose_19</choiceReferences>
            <choiceReferences>chcP_monthsToClose_20</choiceReferences>
            <choiceReferences>chcP_monthsToClose_21</choiceReferences>
            <choiceReferences>chcP_monthsToClose_22</choiceReferences>
            <choiceReferences>chcP_monthsToClose_23</choiceReferences>
            <choiceReferences>chcP_monthsToClose_24</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Months To Close</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
