Screen_Case_Study_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Reopen_Case1</name>
        <label>Reopen Case ?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Final_SCreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reopen_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_case_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varP_case</name>
        <dataType>String</dataType>
        <displayField>SuppliedName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varT_caseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varP_feasibility</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feasibility__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varP_ReopenCase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reopen_Case__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varP_resolutionRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Rating__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varP_resolutionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_TYpe__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen : Case Study 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Case Study 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Feedback</name>
        <label>Creating Feedback</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Reopen_Case1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_SCreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>COmments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feasibility__c</field>
            <value>
                <elementReference>Feasibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_Case__c</field>
            <value>
                <elementReference>Reopen_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Rating__c</field>
            <value>
                <elementReference>Resolution_Rating1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_TYpe__c</field>
            <value>
                <elementReference>Resolution_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Updating_case_status</name>
        <label>Updating case status</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Final_SCreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Final_SCreen</name>
        <label>Copy 1 of Final SCreen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Dis</name>
            <fieldText>&lt;p&gt;Feedback Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_SCreen</name>
        <label>Error SCreen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 11, 11);&quot;&gt;Feedback Not Created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen2</name>
        <label>Error Screen 2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 6, 6);&quot;&gt;Case Not Updated !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_SCreen</name>
        <label>Final SCreen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dis</name>
            <fieldText>&lt;p&gt;Feedback Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_SCreen</name>
        <label>Main SCreen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creating_Feedback</targetReference>
        </connector>
        <fields>
            <name>Main_SCreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_SCreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resolution_Type</name>
                    <choiceReferences>varP_resolutionType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Resolution Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reopen_Case</name>
                    <choiceReferences>varP_ReopenCase</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reopen Case ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_SCreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resolution_Rating1</name>
                    <choiceReferences>varP_resolutionRating</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Resolution Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Feasibility</name>
                    <choiceReferences>varP_feasibility</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Feasibility</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_SCreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
