Screen_Arithmetic_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Chc_Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chc_Divide</name>
        <choiceText>Division</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chc_Multiply</name>
        <choiceText>Multiplication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chc_Sub</name>
        <choiceText>Subtract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Divide_By_Zero</name>
        <label>Divide By Zero</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forN_Div</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Continue_Again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_Addition</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} + {!Number2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Div</name>
        <dataType>Number</dataType>
        <expression>{!Number_1}/{!Number2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Mul</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} * {!Number2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Sub</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} - {!Number2}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Screen : Arithmetic Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Arithmetic Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Divide_By_Zero</targetReference>
        </connector>
        <fields>
            <name>Dis_Add</name>
            <fieldText>&lt;p&gt;Add = {!forN_Addition}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Add</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dis_Sub</name>
            <fieldText>&lt;p&gt;Sub = {!forN_Sub}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Sub</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dis_Mul</name>
            <fieldText>&lt;p&gt;Mul = {!forN_Mul}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Multiply</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dis_Div</name>
            <fieldText>&lt;p&gt;Div = {!forN_Div}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Divide</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>forN_Div</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DivideByZero</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 3, 3);&quot;&gt;Cannot Divide By zero&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Divide</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>forN_Div</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Continue_Again</name>
            <dataType>Boolean</dataType>
            <fieldText>Continue Again</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Chc_Divide</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>forN_Div</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Screen</targetReference>
        </connector>
        <fields>
            <name>ArtihmeticCalculation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Artihmetic Calculation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_1</name>
            <dataType>Number</dataType>
            <fieldText>Number 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number2</name>
            <dataType>Number</dataType>
            <fieldText>Number2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SelectThePoerationToPerform</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select The Operation To Perform&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Operations</name>
            <choiceReferences>Chc_Add</choiceReferences>
            <choiceReferences>Chc_Sub</choiceReferences>
            <choiceReferences>Chc_Multiply</choiceReferences>
            <choiceReferences>Chc_Divide</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operations</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
