Screen_DIY_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Setting_Count</name>
        <label>Setting Count</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varN_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Decession_for_Man_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_PIN</name>
        <label>Check PIN</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_Check_PIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_your_PIN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varT_PIN</elementReference>
                </rightValue>
            </conditions>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Decession_for_Man_Count</name>
        <label>Checking Decession for Man Count</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_PIN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varN_MacCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SorryTryAgain</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen : DIY 3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : DIY 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_DIY_ATM</name>
        <label>Screen : DIY - ATM</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Setting_Count</targetReference>
        </connector>
        <fields>
            <name>Enter_your_PIN</name>
            <fieldText>Enter your PIN</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SorryTryAgain</name>
        <label>Screen_SorryTryAgain</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SorryTryAgain</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Sorry Try Again&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_DIY_ATM</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varN_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_MacCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_PIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1234</stringValue>
        </value>
    </variables>
</Flow>
