Screen_mainFlow_Tamil_Day_7_Two.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen mainFlow : Tamil Day 7 Two {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen mainFlow : Tamil Day 7 Two</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportinities</name>
        <label>Get Opportinities</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubFlow_Count_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Main_SCreen</name>
        <label>Main SCreen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Main_SCreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Main_SCreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WonCount</name>
                    <fieldText>&lt;p&gt;{!CountOFWon}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Main_SCreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LostCount</name>
                    <fieldText>&lt;p&gt;{!countOfLost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportinities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Count_of_Lost</name>
        <label>Count of Lost</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Main_SCreen</targetReference>
        </connector>
        <flowName>Screen_subFlow_Tamil_Day_7_Two</flowName>
        <inputAssignments>
            <name>varT_accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_stage</name>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>countOfLost</assignToReference>
            <name>varN_recordCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SubFlow_Count_Closed_Won</name>
        <label>SubFlow Count Closed Won</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Count_of_Lost</targetReference>
        </connector>
        <flowName>Screen_subFlow_Tamil_Day_7_Two</flowName>
        <inputAssignments>
            <name>varT_accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_stage</name>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CountOFWon</assignToReference>
            <name>varN_recordCount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>countOfLost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOFWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
