Screen_Tamil_D3_DIY_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>ASsigning_values</name>
        <label>ASsigning values</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varT_Concat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ConcatingNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_for_Settiing_Names</name>
        <label>Collection for Settiing Names</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varT_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_the_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Setting_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setting_Count</name>
        <label>Setting Count</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varN_NoOfTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counts</name>
        <label>Check Counts</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Getting_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_NoOfTimes</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Enter_number_of_times_name_should_be_displayed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Scree_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_ConcatingNames</name>
        <dataType>String</dataType>
        <expression>{!varT_Concat} &amp; BR() +{!Getting_Names}</expression>
    </formulas>
    <interviewLabel>Screen : Tamil D3 DIY 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Tamil D3 DIY 5</label>
    <loops>
        <name>Getting_Names</name>
        <label>Getting Names</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <collectionReference>varT_Names</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASsigning_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>352</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dsiplay</name>
            <fieldText>&lt;p&gt;{!varT_Concat}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scree_2</name>
        <label>Scree 2</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collection_for_Settiing_Names</targetReference>
        </connector>
        <fields>
            <name>Enter_the_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter the Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scree_2</targetReference>
        </connector>
        <fields>
            <name>Enter_number_of_times_name_should_be_displayed</name>
            <dataType>Number</dataType>
            <fieldText>Enter number of times name should be displayed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varN_NoOfTimes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_Concat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SettingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
