Screen_Tamil_D3_DIY_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>chc_Addition</name>
        <choiceText>Addition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Division</name>
        <choiceText>Divisoin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Multiply</name>
        <choiceText>Multiplication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Subtraction</name>
        <choiceText>Subtraction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>forN_Add</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} + {!Number_2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Div</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} / {!Number_2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Mul</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} * {!Number_2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_Sub</name>
        <dataType>Number</dataType>
        <expression>{!Number_1} - {!Number_2}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Screen : Tamil D3 DIY 3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Tamil D3 DIY 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>Number_1</name>
            <dataType>Number</dataType>
            <fieldText>Number 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_2</name>
            <dataType>Number</dataType>
            <fieldText>Number 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Select_Operators</name>
            <choiceReferences>chc_Addition</choiceReferences>
            <choiceReferences>chc_Subtraction</choiceReferences>
            <choiceReferences>chc_Multiply</choiceReferences>
            <choiceReferences>chc_Division</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Operators</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Demo</name>
            <fieldText>&lt;p&gt;{!Select_Operators}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sum</name>
            <fieldText>&lt;p&gt;{!Select_Operators} = {!forN_Add}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Operators</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_Addition</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sub</name>
            <fieldText>&lt;p&gt;{!Select_Operators} = {!forN_Sub}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Operators</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_Subtraction</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mul</name>
            <fieldText>&lt;p&gt;{!Select_Operators} = {!forN_Mul}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Operators</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_Multiply</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Div</name>
            <fieldText>&lt;p&gt;{!Select_Operators} = {!forN_Div}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Operators</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chc_Division</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
