Screen_Tamil_d3_DIY_4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Numbers</name>
        <label>Numbers</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>-3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>-2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Possitive_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Possitive_Number_Concat</name>
        <label>Possitive Number Concat</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varT_PositiveNubers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filterPositiveNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PositiveNubers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filterPositiveNumbers</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Negative_Numbers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Negative Numbers</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNextValueToReference>currentItem_Negative_Numbers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varN_Numbers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Negative_Numbers</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Possitive_Numbers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Possitive Numbers</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Possitive_Numbers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varN_Numbers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Possitive_Numbers</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>filterPositiveNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>forT_NEgativeNumbers</name>
        <dataType>String</dataType>
        <expression>{!varT_NegativeNumbers} &amp; &apos; &apos; &amp; TEXT({!currentItem_Negative_Numbers})</expression>
    </formulas>
    <formulas>
        <name>forT_PositiveNumbers</name>
        <dataType>String</dataType>
        <expression>{!varT_PositiveNubers}  &amp; &apos;a&apos;</expression>
    </formulas>
    <interviewLabel>Screen : Tamil d3 DIY 4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Tamil D3 DIY 4</label>
    <loops>
        <name>filterPositiveNumbers</name>
        <label>filterPositiveNumbers</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Possitive_Numbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Possitive_Number_Concat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Negative_Numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;{!varT_PositiveNubers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Positive_Numbers</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Positive Numbers&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Possitive_Numbers}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NegativeNumbers</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Negative Numbers&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Negative_Numbers}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Numbers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Negative_Numbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Possitive_Numbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varN_Numbers</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varT_NegativeNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_PositiveNubers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
