Screen_Mainflow_Tamil_Day_7_DIY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen Mainflow : Tamil Day 7 DIY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Mainflow : Tamil Day 7 DIY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counting_Closed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agriculture</stringValue>
            </value>
        </filters>
        <filters>
            <field>Industry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Banking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Industry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Education</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>sec</name>
        <label>sec</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sec_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display</name>
                    <fieldText>&lt;p&gt;Open Not Contacted : {!varN_RecordCountForOpenNotContacted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display1</name>
                    <fieldText>&lt;p&gt;Closed Not Converted : {!varN_RecordCountForClosedNotConverted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Counting_Closed</name>
        <label>Counting Open Not Contacted</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Counting_Closed_Not_Converted</targetReference>
        </connector>
        <flowName>Screen_Subflow_Tamil_Day_7_DIY</flowName>
        <inputAssignments>
            <name>varR_leadRecords</name>
            <value>
                <elementReference>Get_Lead_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_leadStatus</name>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varN_RecordCountForOpenNotContacted</assignToReference>
            <name>varRecordCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Counting_Closed_Not_Converted</name>
        <label>Counting Closed Not Converted</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>sec</targetReference>
        </connector>
        <flowName>Screen_Subflow_Tamil_Day_7_DIY</flowName>
        <inputAssignments>
            <name>varR_leadRecords</name>
            <value>
                <elementReference>Get_Lead_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_leadStatus</name>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varN_RecordCountForClosedNotConverted</assignToReference>
            <name>varRecordCount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varN_RecordCountForClosedNotConverted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varN_RecordCountForOpenNotContacted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
