Screen_Tamil_Day_6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <collectionProcessors>
        <name>Closed_opportunities_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Closed opportunities Collection</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Closed_opportunities_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Getting_Record_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Closed_opportunities_Collection.IsClosed</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sort_on_Date_and_Amount</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_on_Date_and_Amount</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort on Date and Amount</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Closed_opportunities_Collection</collectionReference>
        <connector>
            <targetReference>Chech_Opportunity_Exist</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Amount</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Chech_Opportunity_Exist</name>
        <label>Chech Opportunity Exist</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Opportunity_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Record_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportinities</targetReference>
            </connector>
            <label>Opportunity Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Tamil Day 6</label>
    <loops>
        <name>Loop_Opportinities</name>
        <label>Loop Opportinities</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Closed_opportunities_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Screen_Opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getting_Record_Opportunities</name>
        <label>Getting Record Opportunities</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_opportunities_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Opportunity_Screen</name>
        <label>No Opportunity Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;No Opportunity Exist&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Opportunity</name>
        <label>Screen Opportunity</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Opportinities</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Name : {!Loop_Opportinities.Amount}&lt;/p&gt;&lt;p&gt;Amount : {!Loop_Opportinities.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Record_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Closed_opportunities_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_copyOfopportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
