Trigger_Tamil_Day_8_DIY_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Setting_Asset</name>
        <label>Setting Asset</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varR_Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_AssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Opportunity_Line_Item.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Opportunity_Line_Item</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Trigger : Tamil Day 8 DIY 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger : Tamil Day 8 DIY 1</label>
    <loops>
        <name>Looping_Opportunity_Line_Item</name>
        <label>Looping Opportunity Line Item</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Getting_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setting_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Asset</name>
        <label>Creating Asset</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>varR_AssetCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getting_Line_Items</name>
        <label>Getting Line Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Opportunity_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Convertt_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_AssetName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Asset For {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>varR_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varR_AssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
